<KETL>
	<!--  This is a work in progress, that will eventually contain all the valid options for each step -->
	<GLOBAL>
		<OPTION NAME="PARAMETERSTART">${</OPTION>
		<OPTION NAME="PARAMETEREND">}</OPTION>
		<OPTION NAME="VERSION">2.1.25 Beta</OPTION>
		<OPTION NAME="MAXERRORMESSAGELENGTH">800</OPTION>
		<OPTION NAME="CACHEPATH">log</OPTION>
		<OPTION NAME="BADRECORDPATH">log</OPTION>
		<!-- <OPTION NAME="BADRECORDPATH">log/${LOAD_ID}</OPTION>-->
		<!-- <OPTION NAME="BADRECORDPATH">log/${DATE}/${LOAD_ID}</OPTION>-->
		<OPTION NAME="INMEMORYCACHESIZE">1mb</OPTION>			
	    <!-- <OPTION NAME="LOOKUPCLASS">com.kni.etl.ketl.lookup.HSQLDBIndexedMap</OPTION>		-->
		<OPTION NAME="LOOKUPCLASS">com.kni.etl.ketl.lookup.SleepycatIndexedMap</OPTION>		
	</GLOBAL>
	
	<STEP CLASS="com.kni.etl.ketl.transformation.DimensionTransformation">
		<PARAMETERS>
			<PARAMETER NAME="USER" REQUIRED="TRUE" />
			<PARAMETER NAME="PASSWORD" REQUIRED="TRUE" />
			<PARAMETER NAME="URL" REQUIRED="TRUE" />
			<PARAMETER NAME="DRIVER" REQUIRED="TRUE" />
			<PARAMETER NAME="PRESQL" REQUIRED="FALSE" />
		</PARAMETERS>
		<ATTRIBUTES>
			<ATTRIBUTE NAME="TABLE" DATATYPE="STRING"/>
			<ATTRIBUTE NAME="KEYTABLE" DATATYPE="STRING"/>
			<ATTRIBUTE NAME="SCD" DEFAULT="1">
				<VALUE>1</VALUE>
				<VALUE>2</VALUE>
				<VALUE>3</VALUE>
			</ATTRIBUTE>
		</ATTRIBUTES>
		<PORTS>
			<IN>
				<ATTRIBUTES>
					<ATTRIBUTE NAME="SK" TYPE="BOOLEAN" />
					<ATTRIBUTE NAME="INSERT" TYPE="BOOLEAN" />
					<ATTRIBUTE NAME="UPDATE" TYPE="BOOLEAN" />
				</ATTRIBUTES>
			</IN>			
			<OUT>
				<ATTRIBUTES>
					<ATTRIBUTE NAME="PK" TYPE="BOOLEAN" />
				</ATTRIBUTES>
			</OUT>
		</PORTS>		
		<TEMPLATES>
			<GROUP NAME="ORACLE">
				<TEMPLATE NAME="MULTIINSERTWRAPPER">insert all ${STATEMENT} select ${VALUES} from dual</TEMPLATE>
				<TEMPLATE NAME="MULTIINSERT">into ${SCHEMANAME}.${TABLENAME}(${DESTINATIONCOLUMNS}) VALUES(${NAMEDVALUES})</TEMPLATE>
				<TEMPLATE NAME="STATEMENTSEPERATOR"></TEMPLATE>
				<TEMPLATE NAME="NAMEDVALUELIST">true</TEMPLATE>
				<TEMPLATE NAME="SEEDLOOKUP">select ${PKCOLUMNS},${SKCOLUMNS} from  ${SCHEMANAME}.${TABLENAME} where mod(${PKCOLUMNS},${PARTITIONS}) = ${PARTITIONID}</TEMPLATE>
			</GROUP>
			<GROUP NAME="DEFAULT">
				<TEMPLATE NAME="NAMEDVALUELIST">false</TEMPLATE>
				<TEMPLATE NAME="STATEMENTSEPERATOR">;</TEMPLATE>
				<TEMPLATE NAME="MULTIINSERTWRAPPER">${STATEMENT}</TEMPLATE>
				<TEMPLATE NAME="CREATEKEYTABLESKINDEX">create unique index SK_${TABLENAME} on ${SCHEMANAME}.${TABLENAME}(${COLUMNS})</TEMPLATE>
				<TEMPLATE NAME="CREATEKEYTABLEPKINDEX">create unique index PK_${TABLENAME} on ${SCHEMANAME}.${TABLENAME}(${COLUMNS})</TEMPLATE>
				<TEMPLATE NAME="CREATEKEYTABLE">create table ${SCHEMANAME}.${KEYTABLENAME} as select distinct ${PK_COLUMNS},${SK_COLUMNS} from ${SCHEMANAME}.${TABLENAME}</TEMPLATE>
				<TEMPLATE NAME="CHECKFORKEYTABLE">select count(*) from ${SCHEMANAME}.${TABLENAME}</TEMPLATE>

				<TEMPLATE NAME="SEEDSELECT">select ${COLUMNS} from ${SCHEMANAME}.${TABLENAME}</TEMPLATE>
				<TEMPLATE NAME="INSERT">insert into ${SCHEMANAME}.${TABLENAME}(${DESTINATIONCOLUMNS}) VALUES(${VALUES})</TEMPLATE>
				<TEMPLATE NAME="MULTIINSERT">insert into ${SCHEMANAME}.${TABLENAME}(${DESTINATIONCOLUMNS}) VALUES(${VALUES})</TEMPLATE>
				<TEMPLATE NAME="SEEDLOOKUP">select ${PKCOLUMNS},${SKCOLUMNS} from  ${SCHEMANAME}.${TABLENAME} where ${PKCOLUMNS} % ${PARTITIONS} = ${PARTITIONID}</TEMPLATE>
			</GROUP>
		</TEMPLATES>
	</STEP>
	
	<STEP CLASS="com.kni.etl.ketl.writer.LookupWriter">
		<PARAMETERS/>
		<ATTRIBUTES/>
		<TEMPLATES/>
		<PORTS>
			<IN>
				<ATTRIBUTES>
					<ATTRIBUTE NAME="KEY" TYPE="INTEGER" />
					<ATTRIBUTE NAME="VALUE" TYPE="INTEGER" />
				</ATTRIBUTES>
			</IN>
		</PORTS>
	</STEP>				
	<STEP CLASS="com.kni.etl.ketl.reader.NIOFileReader" IMAGE="icons/FileReader.png" SMALLIMAGE="icons/FileReaderSmall.png">
		<PARAMETERS>
			<PARAMETER NAME="SEARCHPATH" REQUIRED="TRUE" />
		</PARAMETERS>
		<ATTRIBUTES>
			<ATTRIBUTE NAME="IOBUFFER" TYPE="INTEGER" />
			<ATTRIBUTE NAME="SAMPLEEVERY" TYPE="INTEGER" />
			<ATTRIBUTE NAME="ALLOWDUPLICATES" TYPE="BOOLEAN" />
			<ATTRIBUTE NAME="CHARACTERSET" TYPE="STRING" />
			<ATTRIBUTE NAME="DELETESOURCE" TYPE="BOOLEAN" />
			<ATTRIBUTE NAME="DELIMITER" TYPE="STRING" />
			<ATTRIBUTE NAME="MOVESOURCE" TYPE="STRING" />
			<ATTRIBUTE NAME="ALLOWINVALIDLASTRECORD" TYPE="BOOLEAN" />
			<ATTRIBUTE NAME="RECORD_DELIMITER" TYPE="STRING" />
			<ATTRIBUTE NAME="SKIPLINES" TYPE="INTEGER" />
			<ATTRIBUTE NAME="MAXLINELENGTH" TYPE="INTEGER" />
		</ATTRIBUTES>
		<PORTS>
			<OUT>
				<ATTRIBUTES>
					<ATTRIBUTE NAME="DATATYPE" TYPE="STRING" />
					<ATTRIBUTE NAME="FIXEDLENGTH" TYPE="INTEGER" />
					<ATTRIBUTE NAME="DELIMITER" TYPE="STRING" />
					<ATTRIBUTE NAME="ESCAPECHARACTER" TYPE="STRING" />
					<ATTRIBUTE NAME="FORMATSTRING" TYPE="STRING" />
					<ATTRIBUTE NAME="AUTOTRUNCATE" TYPE="BOOLEAN" />
					<ATTRIBUTE NAME="MAXIMUMLENGTH" TYPE="INTEGER" />
					<ATTRIBUTE NAME="TRIM" TYPE="BOOLEAN" />
					<ATTRIBUTE NAME="QUOTESTART" TYPE="STRING" />
					<ATTRIBUTE NAME="ESCAPEDOUBLEQUOTES" TYPE="BOOLEAN" />
					<ATTRIBUTE NAME="QUOTEEND" TYPE="STRING" />
					<ATTRIBUTE NAME="NULLIF" TYPE="STRING" />
					<ATTRIBUTE NAME="PARTITIONKEY" TYPE="STRING" />
					<ATTRIBUTE NAME="READORDER">
						<VALUE>ASC</VALUE>
						<VALUE>DESC</VALUE>
					</ATTRIBUTE>
					<ATTRIBUTE NAME="READORDERSEQUENCE" TYPE="INTEGER" />
				</ATTRIBUTES>
			</OUT>
		</PORTS>
	</STEP>

	<STEP CLASS="com.kni.etl.ketl.merge.Merge">
		<PARAMETERS/>
		<ATTRIBUTES/>
		<PORTS>
			<IN>
				<ATTRIBUTES>
					<ATTRIBUTE NAME="LEFT" TYPE="BOOLEAN" />
					<ATTRIBUTE NAME="RIGHT" TYPE="BOOLEAN" />
				</ATTRIBUTES>
			</IN>
			<OUT/>
		</PORTS>
	</STEP>
	
	<STEP CLASS="com.kni.etl.ketl.reader.JobExecutingTest">
		<PARAMETERS/>
		<ATTRIBUTES/>
		<PORTS>
			<OUT>
				<ATTRIBUTES>
					<ATTRIBUTE NAME="JOBID" TYPE="STRING" />
				</ATTRIBUTES>
			</OUT>
		</PORTS>
	</STEP>
	
	<STEP CLASS="com.kni.etl.ketl.transformation.geoip.GeoIPTransformation">
		<PARAMETERS>
			<PARAMETER NAME="CITYDBPATH" REQUIRED="FALSE" />
			<PARAMETER NAME="COUNTRYDBPATH" REQUIRED="FALSE" />
			<PARAMETER NAME="ORGDBPATH" REQUIRED="FALSE" />
			<PARAMETER NAME="ISPDBPATH" REQUIRED="FALSE" />
		</PARAMETERS>
		<ATTRIBUTES/>
		<TEMPLATES/>
		<PORTS>
			<IN/>
			<OUT>
				<ATTRIBUTES>
					<ATTRIBUTE NAME="TYPE">
						<VALUE>CITY</VALUE>
						<VALUE>COUNTRY</VALUE>
						<VALUE>ORG</VALUE>
						<VALUE>ISP</VALUE>
					</ATTRIBUTE>
					<ATTRIBUTE NAME="FIELD">
						<VALUE>COUNTRYCODE</VALUE>
						<VALUE>COUNTRYNAME</VALUE>
						<VALUE>REGION</VALUE>
						<VALUE>CITY</VALUE>
						<VALUE>POSTALCODE</VALUE>
						<VALUE>LATITUDE</VALUE>
						<VALUE>LONGITUDE</VALUE>
					</ATTRIBUTE>
				</ATTRIBUTES>
			</OUT>
		</PORTS>
	</STEP>	
		
	<STEP CLASS="com.kni.etl.ketl.reader.SequenceGenerator">
		<PARAMETERS/>
		<ATTRIBUTES>
			<ATTRIBUTE NAME="VALUES" TYPE="INTEGER" REQUIRED="TRUE"/>
		</ATTRIBUTES>
		<PORTS>
			<OUT>
				<ATTRIBUTES>
					<ATTRIBUTE NAME="DATATYPE" TYPE="STRING" />
					<ATTRIBUTE NAME="INCREMENT" TYPE="INTEGER" />
					<ATTRIBUTE NAME="STARTVALUE" TYPE="STRING" />
				</ATTRIBUTES>
			</OUT>
		</PORTS>
	</STEP>
	
	
	<STEP CLASS="com.kni.etl.ketl.writer.NIOFileWriter"  IMAGE="icons/FileWriter.png" SMALLIMAGE="icons/FileWriterSmall.png">
		<PARAMETERS>
			<PARAMETER NAME="FILEPATH" REQUIRED="TRUE" />
		</PARAMETERS>
		<ATTRIBUTES>
			<ATTRIBUTE NAME="WRITEBUFFER" TYPE="INTEGER" />
			<ATTRIBUTE NAME="LINEFEED">
				<VALUE>DOS</VALUE>
				<VALUE>UNIX</VALUE>
			</ATTRIBUTE>
			<ATTRIBUTE NAME="ENABLE_LINEFEED" TYPE="BOOLEAN" />
			<ATTRIBUTE NAME="CHARACTERSET_ATTRIB" TYPE="STRING" />
			<ATTRIBUTE NAME="DELIMITER_AT_END" TYPE="BOOLEAN" />
			<ATTRIBUTE NAME="DELIMITER" TYPE="STRING" />
		</ATTRIBUTES>
		<PORTS>
			<IN>
				<ATTRIBUTES>
					<ATTRIBUTE NAME="DELIMITER" TYPE="STRING" />
					<ATTRIBUTE NAME="FIXEDWIDTH" TYPE="INTEGER" />
					<ATTRIBUTE NAME="MAXIMUMLENGTH" TYPE="INTEGER" />
					<ATTRIBUTE NAME="FORMATSTRING" TYPE="STRING" />
					<ATTRIBUTE NAME="DEFAULTVALUE" TYPE="STRING" />
				</ATTRIBUTES>
			</IN>
		</PORTS>
	</STEP>
	
		
	<STEP CLASS="com.kni.etl.ketl.writer.ExceptionWriter">
		<PARAMETERS/>
		<ATTRIBUTES/>
		<TEMPLATES/>
		<PORTS>
			<IN>
				<ATTRIBUTES>
					<ATTRIBUTE NAME="NAME" TYPE="TYPE">
						<VALUE TYPE="STRING">MESSAGE</VALUE>
					</ATTRIBUTE>				
				</ATTRIBUTES>
			</IN>
		</PORTS>
	</STEP>
	
	<STEP CLASS="com.kni.etl.ketl.transformation.DynamicTransformation">
		<PARAMETERS/>
		<ATTRIBUTES/>
		<TEMPLATES/>
		<PORTS>
			<IN/>
			<OUT/>
		</PORTS>
	</STEP>
	
	<STEP CLASS="com.kni.etl.ketl.transformation.SOAPTransformation">
		<PARAMETERS>
			<PARAMETER NAME="METHOD" TYPE="STRING" REQUIRED="TRUE"/>
			<PARAMETER NAME="NAMESPACE" TYPE="STRING" REQUIRED="FALSE"/>
			<PARAMETER NAME="SERVICENAME" TYPE="STRING" REQUIRED="TRUE"/>
			<PARAMETER NAME="WSDL" TYPE="STRING" REQUIRED="TRUE"/>
			<PARAMETER NAME="TARGETNAMESPACE" TYPE="STRING" REQUIRED="TRUE"/>
			<PARAMETER NAME="SOAPURL" TYPE="STRING" REQUIRED="TRUE"/>
		</PARAMETERS>
		<ATTRIBUTES/>
		<TEMPLATES/>
		<PORTS>
			<IN/>
			<OUT/>
		</PORTS>
	</STEP>
	
	<STEP CLASS="com.kni.etl.ketl.writer.SOAPWriter">
		<PARAMETERS>
			<PARAMETER NAME="METHOD" TYPE="STRING" REQUIRED="TRUE"/>
			<PARAMETER NAME="NAMESPACE" TYPE="STRING" REQUIRED="FALSE"/>
			<PARAMETER NAME="SERVICENAME" TYPE="STRING" REQUIRED="TRUE"/>
			<PARAMETER NAME="WSDL" TYPE="STRING" REQUIRED="TRUE"/>
			<PARAMETER NAME="TARGETNAMESPACE" TYPE="STRING" REQUIRED="TRUE"/>
			<PARAMETER NAME="SOAPURL" TYPE="STRING" REQUIRED="TRUE"/>
		</PARAMETERS>
		<ATTRIBUTES/>
		<TEMPLATES/>
		<PORTS>
			<IN/>
		</PORTS>
	</STEP>
	
	
	<STEP CLASS="com.kni.etl.ketl.transformation.RegExTransformation">
		<PARAMETERS/>
		<ATTRIBUTES/>
		<TEMPLATES/>
		<PORTS>
			<REGEXP>
				<ATTRIBUTE NAME="ID" TYPE="STRING" REQUIRED="TRUE"/>			
			</REGEXP>
			<FILTER>
				<ATTRIBUTE NAME="ID" TYPE="STRING" REQUIRED="TRUE"/>			
			</FILTER>
			<IN/>
			<OUT/>
		</PORTS>
	</STEP>
	


	<STEP CLASS="com.kni.etl.ketl.splitter.Splitter">
		<PARAMETERS/>
		<ATTRIBUTES/>
		<TEMPLATES/>
		<PORTS>
			<IN/>
			<OUT/>
		</PORTS>
	</STEP>
	
	<STEP CLASS="com.kni.etl.ketl.transformation.FilterTransformation">
		<PARAMETERS/>
		<ATTRIBUTES/>
		<TEMPLATES/>
		<PORTS>
			<FILTER/>
			<IN/>
			<OUT/>
		</PORTS>
	</STEP>
	
	<STEP CLASS="com.kni.etl.ketl.transformation.Aggregate">
		<PARAMETERS/>
		<ATTRIBUTES/>
		<TEMPLATES/>
		<PORTS>
			<IN/>
			<OUT>
				<ATTRIBUTE NAME="FUNCTION" TYPE="STRING"/>
				<ATTRIBUTE NAME="MAXELEMENTS" TYPE="INTEGER"/>			
			</OUT>
		</PORTS>
	</STEP>
	
	<STEP CLASS="com.kni.etl.ketl.writer.ExecuteJobWriter">
		<PARAMETERS/>
		<ATTRIBUTES/>
		<TEMPLATES/>
		<PORTS>
			<IN>
				<ATTRIBUTES>
					<ATTRIBUTE NAME="NAME" TYPE="TYPE">
						<VALUE TYPE="STRING">JOB_ID</VALUE>
						<VALUE TYPE="INT">PROJECT_ID</VALUE>
						<VALUE TYPE="BOOLEAN">IGNOREDEPENDENCIES</VALUE>
						<VALUE TYPE="BOOLEAN">ALLOWMULTIPLE</VALUE>
					</ATTRIBUTE>				
				</ATTRIBUTES>
			</IN>
		</PORTS>
	</STEP>

	<STEP CLASS="com.kni.etl.ketl.writer.JDBCWriter">
		<PARAMETERS>
			<PARAMETER NAME="USER" REQUIRED="TRUE" />
			<PARAMETER NAME="PASSWORD" REQUIRED="TRUE" />
			<PARAMETER NAME="URL" REQUIRED="TRUE" />
			<PARAMETER NAME="DRIVER" REQUIRED="TRUE" />
			<PARAMETER NAME="PRESQL" REQUIRED="FALSE" />
		</PARAMETERS>
		<ATTRIBUTES>
			<ATTRIBUTE NAME="TYPE">
				<VALUE>BULK</VALUE>
				<VALUE>ROLL</VALUE>
				<VALUE>UPSERT</VALUE>
			</ATTRIBUTE>			
			<ATTRIBUTE NAME="IGNOREINVALIDCOLUMNS" TYPE="BOOLEAN"/>
			<ATTRIBUTE NAME="IQQUOTE" TYPE="BOOLEAN"/>
			<ATTRIBUTE NAME="STREAMCHANGES" TYPE="BOOLEAN"/>
			<ATTRIBUTE NAME="REPLACEROWS" TYPE="BOOLEAN"/>
			<ATTRIBUTE NAME="MANAGEINDEXES" TYPE="BOOLEAN"/>
			<ATTRIBUTE NAME="HANDLEDUPLICATES" TYPE="BOOLEAN"/>
			<ATTRIBUTE NAME="INCREMENTALCOMMIT" TYPE="BOOLEAN"/>
			<ATTRIBUTE NAME="TABLE" TYPE="STRING"/>
			<ATTRIBUTE NAME="RECONNECTONERROR" TYPE="BOOLEAN"/>
			<ATTRIBUTE NAME="HANDLER" TYPE="STRING"/>
			<ATTRIBUTE NAME="JOININDEX" TYPE="STRING"/>
			<ATTRIBUTE NAME="COMMITSIZE" TYPE="INTEGER"/>
		</ATTRIBUTES>
		<PORTS>
			<PRESQL>
				<ATTRIBUTES>
					<ATTRIBUTE NAME="CRITICAL" TYPE="BOOLEAN" />
					<ATTRIBUTE NAME="PERPARTITION" TYPE="BOOLEAN" />
				</ATTRIBUTES>
			</PRESQL>
			<PREBATCHSQL>
				<ATTRIBUTES>
					<ATTRIBUTE NAME="CRITICAL" TYPE="BOOLEAN" />
					<ATTRIBUTE NAME="PERPARTITION" TYPE="BOOLEAN" />
				</ATTRIBUTES>
			</PREBATCHSQL>
			<IN>
				<ATTRIBUTES>
					<ATTRIBUTE NAME="SK" TYPE="BOOLEAN" />
					<ATTRIBUTE NAME="PK" TYPE="BOOLEAN" />
					<ATTRIBUTE NAME="COMPARE" TYPE="BOOLEAN" />
					<ATTRIBUTE NAME="INSERT" TYPE="BOOLEAN" />
					<ATTRIBUTE NAME="WRAP" TYPE="STRING" />
					<ATTRIBUTE NAME="UPDATE" TYPE="BOOLEAN" />
					<ATTRIBUTE NAME="ALTERNATE_INSERT_VALUE" TYPE="STRING"/>
					<ATTRIBUTE NAME="ALTERNATE_UPDATE_VALUE" TYPE="STRING"/>
				</ATTRIBUTES>
			</IN>
			<POSTBATCHSQL>
				<ATTRIBUTES>
					<ATTRIBUTE NAME="CRITICAL" TYPE="BOOLEAN" />
					<ATTRIBUTE NAME="PERPARTITION" TYPE="BOOLEAN" />
				</ATTRIBUTES>
			</POSTBATCHSQL>
			<POSTSQL>
				<ATTRIBUTES>
					<ATTRIBUTE NAME="CRITICAL" TYPE="BOOLEAN" />
					<ATTRIBUTE NAME="PERPARTITION" TYPE="BOOLEAN" />
				</ATTRIBUTES>
			</POSTSQL>
		</PORTS>		
		<TEMPLATES>
			<GROUP NAME="TERADATA">
				<TEMPLATE NAME="CREATETABLE">create table ${NEWTABLENAME} as (Select ${SOURCECOLUMNS} from ${SOURCETABLENAME} WHERE 1=0) WITH DATA</TEMPLATE>
				<TEMPLATE NAME="MERGETONEWTABLE">CREATE TABLE ${NEWTABLENAME} AS (SELECT ${KEYCOLUMNS} ${OTHERCOLUMNS} FROM ${STGTABLE} as a full outer join ${ORIGTABLE} as b on (${JOIN})) WITH DATA${COMMIT}</TEMPLATE>
				<TEMPLATE NAME="CREATEUNIQUEINDEX">create unique index ${INDEXNAME} (${COLUMNS}) on ${TABLENAME}${COMMIT}</TEMPLATE>
				<TEMPLATE NAME="CREATEINDEX">create index ${INDEXNAME} (${COLUMNS}) on ${TABLENAME}${COMMIT}</TEMPLATE>
				<TEMPLATE NAME="RENAMETABLE">rename table ${TABLENAME} to ${NEWTABLENAME}${COMMIT}</TEMPLATE>
			</GROUP>
			<GROUP NAME="MYSQL">
				<TEMPLATE NAME="STATEMENTSEPERATOR"/>
			</GROUP>			
			<GROUP NAME="POSTGRESQL">
				<TEMPLATE NAME="UPDATECOLUMNFORMAT">${TARGETCOLUMN}=${SOURCECOLUMN}</TEMPLATE>						
				<TEMPLATE NAME="UPDATEPOSTBATCH">update ${DESTINATIONTABLENAME} set ${UPDATECOLUMNS} from ${SOURCETABLENAME} where (${JOIN}) AND exists (Select 1 from ${SOURCETABLENAME} where (${JOIN}) AND (${UPDATETRIGGERS}))</TEMPLATE>
				<TEMPLATE NAME="ANALYZETABLE">analyze ${TABLENAME}</TEMPLATE>
			</GROUP>
			<GROUP NAME="ORACLE">
				<TEMPLATE NAME="ADDHASHCOLUMN">alter table ${TABLENAME} add ${COLUMNNAME} BINARY_FLOAT</TEMPLATE>			
				<TEMPLATE NAME="INSERT">insert /*+ APPEND */ into ${DESTINATIONTABLENAME}(${DESTINATIONCOLUMNS}${DEDUPECOLUMN}) VALUES(${VALUES})</TEMPLATE>
				<TEMPLATE NAME="DISABLEINDEX">alter index ${INDEXNAME} unusable</TEMPLATE>			
				<TEMPLATE NAME="ENABLEINDEX">alter index ${INDEXNAME} rebuild</TEMPLATE>			
				<TEMPLATE NAME="STATEMENTSEPERATOR"/>			
				<TEMPLATE NAME="CREATETABLE">create table ${NEWTABLENAME} as select ${SOURCECOLUMNS}${DEDUPECOLUMN} from ${SOURCETABLENAME} WHERE 1=0</TEMPLATE>
				<TEMPLATE NAME="ANALYZETABLE">analyze table ${TABLENAME} estimate statistics</TEMPLATE>
				<TEMPLATE NAME="INSERTPOSTBATCH">MERGE /*+ APPEND */ INTO ${DESTINATIONTABLENAME} 
  USING ${SOURCETABLENAME}
     ON (${JOIN})
   WHEN MATCHED THEN
    UPDATE SET ${UPDATECOLUMNS}
     WHERE ${UPDATETRIGGERS}
   WHEN NOT MATCHED THEN
    INSERT (${INSERTDESTINATIONCOLUMNS})
     VALUES(${INSERTCOLUMNS})</TEMPLATE>
                <TEMPLATE NAME="UPDATEPOSTBATCH"/>
                <TEMPLATE NAME="DELETEDUPLICATES">delete from ${SOURCETABLENAME} where not exists (SELECT 1 FROM ${SOURCETABLENAME} ${DESTINATIONTABLENAME} where ${JOIN} having max(${DEDUPECOLUMN}) = ${SOURCETABLENAME}.${DEDUPECOLUMN})</TEMPLATE>  
                <TEMPLATE NAME="DELETESTATICROWS">delete from ${SOURCETABLENAME} where (${KEYS}) not in
(SELECT ${SOURCEKEYS}
   FROM ${SOURCETABLENAME} LEFT OUTER JOIN ${DESTINATIONTABLENAME}
         ON (${JOIN})
 WHERE (${FIRSTSK} IS NULL) OR(${JOIN} AND (${UPDATETRIGGERS})))</TEMPLATE>                  
 				<TEMPLATE NAME="DELETETARGET">delete from ${DESTINATIONTABLENAME} where (${KEYS}) IN (SELECT ${KEYS} FROM ${SOURCETABLENAME})</TEMPLATE>                
                <TEMPLATE NAME="INSERTTARGET">insert /*+ APPEND */ into ${DESTINATIONTABLENAME}(${INSERTDESTINATIONCOLUMNS}) SELECT ${INSERTCOLUMNS} FROM ${SOURCETABLENAME}</TEMPLATE>                              
			</GROUP>			
			<GROUP NAME="DEFAULT">
				<TEMPLATE NAME="ADDHASHCOLUMN">alter table ${TABLENAME} add ${COLUMNNAME} int</TEMPLATE>
				<TEMPLATE NAME="UPDATECOLUMNFORMAT">${DESTINATIONTABLENAME}.${TARGETCOLUMN}=${SOURCECOLUMN}</TEMPLATE>						
				<TEMPLATE NAME="DISABLEINDEX"/>			
				<TEMPLATE NAME="ENABLEINDEX"/>			
				<TEMPLATE NAME="ADDHASHCOLUMN">alter table ${TABLENAME} add ${COLUMNNAME} PLS_INTEGER</TEMPLATE>			
				<TEMPLATE NAME="STATEMENTSEPERATOR">;</TEMPLATE>			
				<TEMPLATE NAME="INSERT">insert into ${DESTINATIONTABLENAME}(${DESTINATIONCOLUMNS}${DEDUPECOLUMN}) VALUES(${VALUES})</TEMPLATE>
				<TEMPLATE NAME="CREATETABLE">create table ${NEWTABLENAME} as select ${SOURCECOLUMNS}${DEDUPECOLUMN} from ${SOURCETABLENAME} WHERE 1=0</TEMPLATE>
				<TEMPLATE NAME="SELECTCOLUMNDATATYPE">select ${COLUMNS} from ${TABLENAME} WHERE 1=0</TEMPLATE>
				<TEMPLATE NAME="UPDATEPOSTBATCH">update ${DESTINATIONTABLENAME} inner JOIN ${SOURCETABLENAME} on (${JOIN} AND (${UPDATETRIGGERS})) set ${UPDATECOLUMNS}</TEMPLATE>
				<TEMPLATE NAME="INSERTPOSTBATCH">insert into ${DESTINATIONTABLENAME}(${INSERTDESTINATIONCOLUMNS}) select ${INSERTCOLUMNS} from ${SOURCETABLENAME} where not exists (select 1 from ${DESTINATIONTABLENAME} where ${JOIN})</TEMPLATE>
				<TEMPLATE NAME="DELETEDUPLICATES">delete from ${SOURCETABLENAME} where (${KEYS},${DEDUPECOLUMN}) not in (SELECT ${KEYS},MAX(${DEDUPECOLUMN}) FROM ${SOURCETABLENAME} GROUP BY ${KEYS})</TEMPLATE>
				<TEMPLATE NAME="DROPTABLE">drop table ${TABLENAME}</TEMPLATE>
				<TEMPLATE NAME="TRUNCATETABLE">truncate table ${TABLENAME}</TEMPLATE>
				<TEMPLATE NAME="RENAMETABLE">alter table ${TABLENAME} rename to ${NEWTABLENAME}</TEMPLATE>
				<TEMPLATE NAME="CREATEUNIQUEINDEX">create unique index ${TABLENAME}${INDEXNAME} on ${TABLENAME}(${COLUMNS})</TEMPLATE>
				<TEMPLATE NAME="CREATEINDEX">create index ${TABLENAME}${INDEXNAME} on ${TABLENAME}(${COLUMNS})</TEMPLATE>
				<TEMPLATE NAME="ADDPRIMARYKEY">alter table ${TABLENAME} add primary key(${COLUMNS})</TEMPLATE>
				<TEMPLATE NAME="COALESCE">coalesce(${ARG1},${ARG2})</TEMPLATE>
				<TEMPLATE NAME="ANALYZETABLE">analyze table ${TABLENAME}</TEMPLATE>
				<TEMPLATE NAME="MERGETONEWTABLE">CREATE TABLE ${NEWTABLENAME} AS SELECT ${KEYCOLUMNS} ${OTHERCOLUMNS} FROM ${STGTABLE} as a full outer join ${ORIGTABLE} as b on (${JOIN})</TEMPLATE>
			</GROUP>
		</TEMPLATES>
	</STEP>

	<STEP CLASS="com.kni.etl.ketl.reader.JDBCReader">
		<PARAMETERS>
			<PARAMETER NAME="USER" REQUIRED="TRUE" />
			<PARAMETER NAME="PASSWORD" REQUIRED="TRUE" />
			<PARAMETER NAME="URL" REQUIRED="TRUE" />
			<PARAMETER NAME="DRIVER" REQUIRED="TRUE" />
			<PARAMETER NAME="PRESQL" REQUIRED="FALSE" />
			<PARAMETER NAME="SQL" REQUIRED="FALSE" />
		</PARAMETERS>
		<ATTRIBUTES>
			<ATTRIBUTE NAME="FETCHSIZE" TYPE="INTEGER"/>
			<ATTRIBUTE NAME="HANDLER" TYPE="STRING"/>
			<ATTRIBUTE NAME="SQLSAMPLE" TYPE="INTEGER"/>
		</ATTRIBUTES>
		<PORTS>
			<PRESQL>
				<ATTRIBUTES>
					<ATTRIBUTE NAME="CRITICAL" TYPE="BOOLEAN" />
					<ATTRIBUTE NAME="PERPARTITION" TYPE="BOOLEAN" />
				</ATTRIBUTES>
			</PRESQL>
			<IN/>
			<OUT/>
			<POSTSQL>
				<ATTRIBUTES>
					<ATTRIBUTE NAME="CRITICAL" TYPE="BOOLEAN" />
					<ATTRIBUTE NAME="PERPARTITION" TYPE="BOOLEAN" />
				</ATTRIBUTES>
			</POSTSQL>
		</PORTS>		
		<TEMPLATES>
			<GROUP NAME="DEFAULT">
				<TEMPLATE NAME="GETCOLUMNS">select * from (${QUERY}) as a where 1=0</TEMPLATE>
			</GROUP>
			<GROUP NAME="Oracle">
				<TEMPLATE NAME="GETCOLUMNS">select * from (${QUERY}) a where 1=0</TEMPLATE>
			</GROUP>
		</TEMPLATES>
	</STEP>

	<STEP CLASS="com.kni.etl.ketl.writer.TDFastloadWriter">
		<PARAMETERS>
			<PARAMETER NAME="USER" REQUIRED="TRUE" />
			<PARAMETER NAME="PASSWORD" REQUIRED="TRUE" />
			<PARAMETER NAME="URL" REQUIRED="TRUE" />
			<PARAMETER NAME="DRIVER" REQUIRED="TRUE" />
			<PARAMETER NAME="HOSTNAME" REQUIRED="TRUE" />
		</PARAMETERS>
		<ATTRIBUTES>
			<ATTRIBUTE NAME="CHECKPOINT" />
			<ATTRIBUTE NAME="SESSIONS" />
		</ATTRIBUTES>
		<PORTS>
			<IN/>
		</PORTS>
		<TEMPLATES>
			<GROUP NAME="TERADATA">
				<TEMPLATE NAME="FASTLOADPATH">c:\Program Files\ncr\Teradata Client\bin\</TEMPLATE>
				<TEMPLATE NAME="LIBRARYWINDOWS">np_Axsmod.dll</TEMPLATE>
				<TEMPLATE NAME="CREATEPIPEUNIX">mkfifo ${SOURCEPIPE}</TEMPLATE>
				<TEMPLATE NAME="FASTLOAD">
					sessions ${SESSIONS}; logon ${HOSTNAME}/${USER},${PASSWORD};

					delete from ${SCHEMANAME}${TABLENAME};

					set record binary; begin loading ${SCHEMANAME}${TABLENAME} errorfiles ${SCHEMANAME}${TABLENAME}_err1, ${SCHEMANAME}${TABLENAME}_err2 CHECKPOINT ${CHECKPOINT};

					AXSMOD ${LIBRARY};

					define ${DEFINECOLUMNS} file=${SOURCEPIPE};

					show;

					insert into ${SCHEMANAME}${TABLENAME} (${DESTINATIONCOLUMNS}) values (${DEFINEVALUES});

					end loading; logoff;
				</TEMPLATE>
			</GROUP>
			<GROUP NAME="DEFAULT" />

		</TEMPLATES>
	</STEP>
	<STEP CLASS="com.kni.etl.ketl.transformation.RegExFilterTransformation">
		<PARAMETERS/>
		<ATTRIBUTES/>
		<TEMPLATES/>
		<PORTS>
			<IN/>
			<OUT>
				<ATTRIBUTES>
					<ATTRIBUTE NAME="REGEXPR" TYPE="STRING" />
					<ATTRIBUTE NAME="NULLMATCHES" TYPE="BOOLEAN" />
				</ATTRIBUTES>
			</OUT>
			<REGEXPR>
				<ATTRIBUTES>
					<ATTRIBUTE NAME="ID" TYPE="STRING" REQUIRED="TRUE" />
				</ATTRIBUTES>
			</REGEXPR>
		</PORTS>
	</STEP>
	<STEP CLASS="com.kni.etl.ketl.transformation.XMLToFieldsTransformation">
		<PARAMETERS/>
		<ATTRIBUTES>
			<ATTRIBUTE NAME="XPATHEVALUATE" TYPE="BOOLEAN" />					
			<ATTRIBUTE NAME="XPATH" TYPE="STRING" REQUIRED="TRUE" />					
			<ATTRIBUTE NAME="THREADS" TYPE="INTEGER" />					
		</ATTRIBUTES>
		<TEMPLATES/>
		<PORTS>
			<IN/>
			<OUT>
				<ATTRIBUTES>
					<ATTRIBUTE NAME="XPATH" TYPE="STRING" />
				</ATTRIBUTES>
			</OUT>
		</PORTS>
	</STEP>

	<STEP CLASS="com.kni.etl.ketl.reader.XMLReader">
		<PARAMETERS>
			<PARAMETER NAME="SEARCHPATH" REQUIRED="TRUE" />
		</PARAMETERS>		
		<ATTRIBUTES>
			<ATTRIBUTE NAME="XPATHEVALUATE" TYPE="BOOLEAN" />					
			<ATTRIBUTE NAME="XPATH" TYPE="STRING" REQUIRED="TRUE" />					
		</ATTRIBUTES>
		<TEMPLATES/>
		<PORTS>
			<IN/>
			<OUT>
				<ATTRIBUTES>
					<ATTRIBUTE NAME="XPATH" TYPE="STRING" />
				</ATTRIBUTES>
			</OUT>
		</PORTS>
	</STEP>

	<STEP CLASS="com.kni.etl.ketl.writer.ConsoleWriter">
		<PARAMETERS/>
		<ATTRIBUTES/>
		<TEMPLATES/>
		<PORTS>
			<IN/>
		</PORTS>
	</STEP>
	
	<STEP CLASS="com.kni.etl.ketl.writer.NullWriter">
		<PARAMETERS/>
		<ATTRIBUTES>
			<ATTRIBUTE NAME="LOGEVERY" TYPE="INTEGER" />					
			<ATTRIBUTE NAME="LOG" TYPE="BOOLEAN" />					
		</ATTRIBUTES>
		<TEMPLATES/>
		<PORTS>
			<IN/>
		</PORTS>
	</STEP>
	
	<STEP  IMAGE="icons/FileReader.png" SMALLIMAGE="icons/FileReaderSmall.png" CLASS="com.kni.etl.ketl.writer.FileWriter"/>

	<STEP CLASS="com.kni.etl.ketl.writer.old_JDBCWriter">
		<PARAMETERS>
			<PARAMETER NAME="USER" REQUIRED="TRUE" />
			<PARAMETER NAME="PASSWORD" REQUIRED="TRUE" />
			<PARAMETER NAME="URL" REQUIRED="TRUE" />
			<PARAMETER NAME="DRIVER" REQUIRED="TRUE" />
			<PARAMETER NAME="PRESQL" REQUIRED="FALSE" />
		</PARAMETERS>
		<ATTRIBUTES>
			<ATTRIBUTE NAME="TABLE" TYPE="STRING" REQUIRED="TRUE" />					
			<ATTRIBUTE NAME="COMMITSIZE" TYPE="INTEGER" />					
			<ATTRIBUTE NAME="BATCHRECONNECT" TYPE="BOOLEAN" />					
			<ATTRIBUTE NAME="RETRYBATCH" TYPE="INTEGER" />					
			<ATTRIBUTE NAME="OVERRIDESAVEPOINTS" TYPE="BOOLEAN" />					
		</ATTRIBUTES>
		<TEMPLATES/>
		<PORTS>
			<PRESQL>
				<ATTRIBUTES>
					<ATTRIBUTE NAME="CRITICAL" TYPE="BOOLEAN" />
					<ATTRIBUTE NAME="PERPARTITION" TYPE="BOOLEAN" />
				</ATTRIBUTES>
			</PRESQL>
			<IN>
				<ATTRIBUTES>
					<ATTRIBUTE NAME="SK" TYPE="BOOLEAN" />
					<ATTRIBUTE NAME="PK" TYPE="BOOLEAN" />
					<ATTRIBUTE NAME="COMPARE" TYPE="BOOLEAN" />
					<ATTRIBUTE NAME="INSERT" TYPE="BOOLEAN" />
					<ATTRIBUTE NAME="UPDATE" TYPE="BOOLEAN" />
				</ATTRIBUTES>
			</IN>
			<POSTSQL>
				<ATTRIBUTES>
					<ATTRIBUTE NAME="CRITICAL" TYPE="BOOLEAN" />
					<ATTRIBUTE NAME="PERPARTITION" TYPE="BOOLEAN" />
				</ATTRIBUTES>
			</POSTSQL>
		</PORTS>
	</STEP>
	<STEP CLASS="com.kni.etl.ketl.reader.JDBCSSAScanner">
		<PARAMETERS>
			<PARAMETER NAME="USER" REQUIRED="TRUE" />
			<PARAMETER NAME="PASSWORD" REQUIRED="TRUE" />
			<PARAMETER NAME="URL" REQUIRED="TRUE" />
			<PARAMETER NAME="DRIVER" REQUIRED="TRUE" />
			<PARAMETER NAME="PRESQL" REQUIRED="FALSE" />
		</PARAMETERS>
		<ATTRIBUTES>
			<ATTRIBUTE NAME="TABLE" TYPE="STRING" />					
			<ATTRIBUTE NAME="SCHEMA" TYPE="STRING" />					
			<ATTRIBUTE NAME="CATALOG" TYPE="STRING" />					
			<ATTRIBUTE NAME="MAXDOVSIZE" TYPE="INTEGER" />					
		</ATTRIBUTES>
		<PORTS>
			<OUT>
				<ATTRIBUTES>
					<ATTRIBUTE NAME="TYPE">
						<VALUE TYPE="STRING">TABLE_NAME</VALUE>
						<VALUE TYPE="STRING">TABLE_SCHEMA</VALUE>
						<VALUE TYPE="STRING">TABLE_CATALOG</VALUE>
						<VALUE TYPE="STRING">TABLE_TYPE</VALUE>
						<VALUE TYPE="STRING">ROW_COUNT</VALUE>
						<VALUE TYPE="STRING">COLUMN_NAME</VALUE>
						<VALUE TYPE="STRING">TYPE_NAME</VALUE>
						<VALUE TYPE="INTEGER">DATA_TYPE</VALUE>
						<VALUE TYPE="INTEGER">CHAR_OCTET_LENGTH</VALUE>
						<VALUE TYPE="INTEGER">ORDINAL_POSITION</VALUE>
						<VALUE TYPE="INTEGER">COLUMN_SIZE</VALUE>
						<VALUE TYPE="INTEGER">DECIMAL_DIGITS</VALUE>
						<VALUE TYPE="STRING">COLUMN_DEF</VALUE>
						<VALUE TYPE="STRING">REMARKS</VALUE>
						<VALUE TYPE="STRING">IS_NULLABLE</VALUE>
						<VALUE TYPE="INTEGER">NUM_PREC_RADIX</VALUE>
						<VALUE TYPE="INTEGER">NULL_VALUES</VALUE>
						<VALUE TYPE="INTEGER">DISTINCT_VALUES</VALUE>
						<VALUE TYPE="STRING">MAX_VALUE</VALUE>
						<VALUE TYPE="STRING">MIN_VALUE</VALUE>
						<VALUE TYPE="STRING">DOV</VALUE>
						<VALUE TYPE="STRING">SAMPLE</VALUE>
						<VALUE TYPE="STRING">COLUMNERRORMESSAGE</VALUE>
						<VALUE TYPE="STRING">TABLEERRORMESSAGE</VALUE>
					</ATTRIBUTE>
				</ATTRIBUTES>
			</OUT>
		</PORTS>
		<TEMPLATES>
			<GROUP NAME="POSTGRESQL">
				<TEMPLATE NAME="SAMPLE">SELECT DISTINCT ${COL} FROM ${TABLE} LIMIT 10</TEMPLATE>
				<TEMPLATE NAME="DOV">SELECT ${COL},count(*) FROM ${TABLE} GROUP BY ${COL} ORDER BY count(*) DESC LIMIT 10</TEMPLATE>
			</GROUP>
			<GROUP NAME="ORACLE">
				<TEMPLATE NAME="SAMPLE">SELECT DISTINCT ${COL} FROM ${TABLE} WHERE ROWNUM &lt; 10</TEMPLATE>
				<TEMPLATE NAME="DOV">SELECT * FROM (SELECT ${COL},count(*) FROM ${TABLE} GROUP BY ${COL} ORDER BY count(*) DESC) WHERE ROWNUM &lt; 256</TEMPLATE>				
			</GROUP>
			<GROUP NAME="SQLServer">
				<TEMPLATE NAME="SAMPLE">SELECT TOP 10 DISTINCT ${COL} FROM ${TABLE}</TEMPLATE>
			</GROUP>
			<GROUP NAME="DEFAULT">
				<TEMPLATE NAME="COMPLETENESSCOLEXPRESSION">case when ${COL} is null then 0 else 1 end</TEMPLATE>			
				<TEMPLATE NAME="COMPLETENESS">select sum(case when cmp between 0.0 and 0.1 then 1 end),
												 	sum(case when cmp between 0.1 and 0.2 then 1 end),
													sum(case when cmp between 0.2 and 0.3 then 1 end),
													sum(case when cmp between 0.3 and 0.4then 1 end),
													sum(case when cmp between 0.4 and 0.5 then 1 end),
													sum(case when cmp between 0.5 and 0.6 then 1 end),
													sum(case when cmp between 0.6 and 0.7 then 1 end),
													sum(case when cmp between 0.7 and 0.8 then 1 end),
													sum(case when cmp between 0.8 and 0.9 then 1 end),
													sum(case when cmp between 0.9 and 1.0 then 1 end)
											    from (select (${COLS})/${COLCOUNT} as cmp 
											            from ${TABLE})</TEMPLATE>			
				<TEMPLATE NAME="SAMPLE">SELECT DISTINCT ${COL} FROM ${TABLE}</TEMPLATE>
				<TEMPLATE NAME="DOV">SELECT ${COL},count(*) FROM ${TABLE} GROUP BY ${COL} ORDER BY count(*) DESC</TEMPLATE>
				<TEMPLATE NAME="COLUMNQUERY">SELECT ${COL} FROM ${TABLE}</TEMPLATE>
				<TEMPLATE NAME="COLUMNSTATS">min(${COL}),max(${COL}),count(distinct ${COL}),sum(case when ${COL} is null then 1 else 0 end)</TEMPLATE>
				<TEMPLATE NAME="COLUMNLOBSTATS">null,null,null,sum(case when ${COL} is null then 1 else 0 end)</TEMPLATE>
			</GROUP>
		</TEMPLATES>
	</STEP>
	
	<STEP CLASS="com.kni.etl.ketl.writer.ExcelWriter" >
		<PARAMETERS>
			<PARAMETER NAME="FILEPATH" REQUIRED="TRUE" />
		</PARAMETERS>
		<ATTRIBUTES/>
		<PORTS>
			<IN>
				<ATTRIBUTES>
					<ATTRIBUTE NAME="TAB" TYPE="BOOLEAN" />
				</ATTRIBUTES>
			</IN>
		</PORTS>
	</STEP>
		
		
	
	<STEP CLASS="com.kni.etl.ketl.writer.SQLLoaderELTWriter">
		<PARAMETERS>
			<PARAMETER NAME="USER" REQUIRED="TRUE" />
			<PARAMETER NAME="PASSWORD" REQUIRED="TRUE" />
			<PARAMETER NAME="URL" REQUIRED="TRUE" />
			<PARAMETER NAME="DRIVER" REQUIRED="TRUE" />
			<PARAMETER NAME="CONNECTIONSTRING" REQUIRED="TRUE" />
			<PARAMETER NAME="ENABLEROUNDING" REQUIRED="FALSE" />
			<PARAMETER NAME="PRESQL" REQUIRED="FALSE" />
		</PARAMETERS>
		<ATTRIBUTES>
			<ATTRIBUTE NAME="BINDSIZE" TYPE="INTEGER"/>
			<ATTRIBUTE NAME="ROWS" TYPE="INTEGER"/>
			<ATTRIBUTE NAME="DIRECT" TYPE="BOOLEAN"/>
			<ATTRIBUTE NAME="PARALLEL" TYPE="BOOLEAN"/>
			<ATTRIBUTE NAME="LOADTYPE">
				<VALUE>REPLACE</VALUE>
				<VALUE>APPEND</VALUE>
				<VALUE>TRUNCATE</VALUE>
			</ATTRIBUTE>
			<ATTRIBUTE NAME="TYPE">
				<VALUE>BULK</VALUE>
				<VALUE>ROLL</VALUE>
				<VALUE>UPSERT</VALUE>
			</ATTRIBUTE>
		</ATTRIBUTES>
		<PORTS>
			<PRESQL>
				<ATTRIBUTES>
					<ATTRIBUTE NAME="CRITICAL" TYPE="BOOLEAN" />
					<ATTRIBUTE NAME="PERPARTITION" TYPE="BOOLEAN" />
				</ATTRIBUTES>
			</PRESQL>
			<IN>
				<ATTRIBUTES>
					<ATTRIBUTE NAME="SK" TYPE="BOOLEAN" />
					<ATTRIBUTE NAME="PK" TYPE="BOOLEAN" />
					<ATTRIBUTE NAME="COMPARE" TYPE="BOOLEAN" />
					<ATTRIBUTE NAME="INSERT" TYPE="BOOLEAN" />
					<ATTRIBUTE NAME="UPDATE" TYPE="BOOLEAN" />
				</ATTRIBUTES>
			</IN>
			<POSTSQL>
				<ATTRIBUTES>
					<ATTRIBUTE NAME="CRITICAL" TYPE="BOOLEAN" />
					<ATTRIBUTE NAME="PERPARTITION" TYPE="BOOLEAN" />
				</ATTRIBUTES>
			</POSTSQL>
		</PORTS>		
		<TEMPLATES>
			<GROUP NAME="DEFAULT">
				<TEMPLATE NAME="UPDATECOLUMNFORMAT">${DESTINATIONTABLENAME}.${TARGETCOLUMN}=${SOURCECOLUMN}</TEMPLATE>													
				<TEMPLATE NAME="STATEMENTSEPERATOR"/>			
				<TEMPLATE NAME="CREATETABLE">create table ${NEWTABLENAME} as select ${SOURCECOLUMNS} from ${SOURCETABLENAME} WHERE 1=0</TEMPLATE>
				<TEMPLATE NAME="SELECTCOLUMNDATATYPE">select ${COLUMNS} from ${TABLENAME} WHERE 1=0</TEMPLATE>
				<TEMPLATE NAME="UPDATEPOSTBATCH">update ${DESTINATIONTABLENAME} inner JOIN ${SOURCETABLENAME} on (($JOIN) AND (${UPDATETRIGGERS})) set ${UPDATECOLUMNS}</TEMPLATE>
				<TEMPLATE NAME="INSERTPOSTBATCH">insert into ${DESTINATIONTABLENAME}(${DESTINATIONCOLUMNS}) select ${SOURCECOLUMNS} from ${SOURCETABLENAME} where not exists (select 1 from ${DESTINATIONTABLENAME} where ${JOIN})</TEMPLATE>
				<TEMPLATE NAME="DROPTABLE">drop table ${TABLENAME}</TEMPLATE>
				<TEMPLATE NAME="TRUNCATETABLE">truncate table ${TABLENAME}</TEMPLATE>
				<TEMPLATE NAME="RENAMETABLE">alter table ${TABLENAME} rename to ${NEWTABLENAME}</TEMPLATE>
				<TEMPLATE NAME="CREATEUNIQUEINDEX">create unique index ${INDEXNAME} on ${TABLENAME}(${COLUMNS})</TEMPLATE>
				<TEMPLATE NAME="CREATEINDEX">create index ${INDEXNAME} on ${TABLENAME}(${COLUMNS})</TEMPLATE>
				<TEMPLATE NAME="ADDPRIMARYKEY">alter table ${TABLENAME} add primary key(${COLUMNS})</TEMPLATE>
				<TEMPLATE NAME="COALESCE">coalesce(${ARG1},${ARG2})</TEMPLATE>
				<TEMPLATE NAME="ANALYZETABLE">analyze table ${TABLENAME}</TEMPLATE>
				<TEMPLATE NAME="MKPIPE">mkfifo ${FILENAME}</TEMPLATE>
				<TEMPLATE NAME="SQLLDR">sqlldr ${USER}/${PASSWORD}@${CONNECTIONSTRING} ${DIRECT} ${PARALLEL} ${BINDSIZE} ${ROWS}  control=${CONTROLFILE} bad=${BADDATA} log=${LOG}</TEMPLATE>
				<TEMPLATE NAME="MERGETONEWTABLE">CREATE TABLE ${NEWTABLENAME} AS SELECT ${KEYCOLUMNS} ${OTHERCOLUMNS} FROM ${STGTABLE} as a full outer join ${ORIGTABLE} as b on (${JOIN})</TEMPLATE>
			</GROUP>
		</TEMPLATES>
	</STEP>
	
	<STEP CLASS="com.kni.etl.ketl.writer.JDBCSCDWriter">
		<PARAMETERS>
			<PARAMETER NAME="USER" REQUIRED="TRUE" />
			<PARAMETER NAME="PASSWORD" REQUIRED="TRUE" />
			<PARAMETER NAME="URL" REQUIRED="TRUE" />
			<PARAMETER NAME="DRIVER" REQUIRED="TRUE" />
			<PARAMETER NAME="PRESQL" REQUIRED="FALSE" />
		</PARAMETERS>
		<ATTRIBUTES>
			<ATTRIBUTE NAME="IGNOREINVALIDCOLUMNS" TYPE="BOOLEAN"/>
			<ATTRIBUTE NAME="IQQUOTE" TYPE="BOOLEAN"/>
			<ATTRIBUTE NAME="MANAGEINDEXES" TYPE="BOOLEAN"/>
			<ATTRIBUTE NAME="TABLE" TYPE="STRING"/>
			<ATTRIBUTE NAME="SURROGATEKEY" TYPE="STRING"/>
			<ATTRIBUTE NAME="RECONNECTONERROR" TYPE="BOOLEAN"/>
			<ATTRIBUTE NAME="HANDLER" TYPE="STRING"/>
			<ATTRIBUTE NAME="JOININDEX" TYPE="STRING"/>
			<ATTRIBUTE NAME="COMMITSIZE" TYPE="INTEGER"/>
		</ATTRIBUTES>
		<PORTS>
			<PRESQL>
				<ATTRIBUTES>
					<ATTRIBUTE NAME="CRITICAL" TYPE="BOOLEAN" />
					<ATTRIBUTE NAME="PERPARTITION" TYPE="BOOLEAN" />
				</ATTRIBUTES>
			</PRESQL>
			<PREBATCHSQL>
				<ATTRIBUTES>
					<ATTRIBUTE NAME="CRITICAL" TYPE="BOOLEAN" />
					<ATTRIBUTE NAME="PERPARTITION" TYPE="BOOLEAN" />
				</ATTRIBUTES>
			</PREBATCHSQL>
			<IN>
				<ATTRIBUTES>
					<ATTRIBUTE NAME="SK" TYPE="BOOLEAN" />
					<ATTRIBUTE NAME="COMPARE" TYPE="BOOLEAN" />
					<ATTRIBUTE NAME="INSERT" TYPE="BOOLEAN" />
					<ATTRIBUTE NAME="UPDATE" TYPE="BOOLEAN" />
					<ATTRIBUTE NAME="EFFECTIVEDATE" TYPE="BOOLEAN"/>
					<ATTRIBUTE NAME="ALTERNATE_INSERT_VALUE" TYPE="STRING"/>
					<ATTRIBUTE NAME="ALTERNATE_UPDATE_VALUE" TYPE="STRING"/>
				</ATTRIBUTES>
			</IN>
			<POSTBATCHSQL>
				<ATTRIBUTES>
					<ATTRIBUTE NAME="CRITICAL" TYPE="BOOLEAN" />
					<ATTRIBUTE NAME="PERPARTITION" TYPE="BOOLEAN" />
				</ATTRIBUTES>
			</POSTBATCHSQL>
			<POSTSQL>
				<ATTRIBUTES>
					<ATTRIBUTE NAME="CRITICAL" TYPE="BOOLEAN" />
					<ATTRIBUTE NAME="PERPARTITION" TYPE="BOOLEAN" />
				</ATTRIBUTES>
			</POSTSQL>
		</PORTS>		
		<TEMPLATES>
			<GROUP NAME="ORACLE">
				<TEMPLATE NAME="INSERT">insert /*+ APPEND */ into ${DESTINATIONTABLENAME}(${DESTINATIONCOLUMNS}${DEDUPECOLUMN}) VALUES(${VALUES})</TEMPLATE>
				<TEMPLATE NAME="DISABLEINDEX">alter index ${INDEXNAME} unusable</TEMPLATE>			
				<TEMPLATE NAME="ENABLEINDEX">alter index ${INDEXNAME} rebuild</TEMPLATE>			
				<TEMPLATE NAME="STATEMENTSEPERATOR"/>			
				<TEMPLATE NAME="ANALYZETABLE">analyze table ${TABLENAME} estimate statistics</TEMPLATE>		
				<TEMPLATE NAME="UPDATEPOSTBATCH">
update ${DESTINATIONTABLENAME} 
 set ${EXPDT} = (select ${EFFDT} from  ${DELTATABLENAME} where  ${DESTINATIONTABLENAME}.${SKEY} = ${DELTATABLENAME}.MATCH_SK)
where exists (select 1 from  ${DELTATABLENAME} where  ${DESTINATIONTABLENAME}.${SKEY} = ${DELTATABLENAME}.MATCH_SK)
				</TEMPLATE>		
				<TEMPLATE NAME="INSERTPOSTBATCH">insert  /*+ APPEND */  into ${DESTINATIONTABLENAME}(${SKEY},${INSERTDESTINATIONCOLUMNS},${EXPDT}) select ${SERIALCOLUMN},${INSERTCOLUMNS},${EXPDTFUNC} from ${DELTATABLENAME}  ${SOURCETABLENAME}</TEMPLATE>
			</GROUP>			
			<GROUP NAME="DEFAULT">
				<TEMPLATE NAME="UPDATECOLUMNFORMAT">${DESTINATIONTABLENAME}.${TARGETCOLUMN}=${SOURCECOLUMN}</TEMPLATE>		
				<TEMPLATE NAME="EXPDTFUNC">TO_DATE('31129999','DDMMYYYY')</TEMPLATE>	
				<TEMPLATE NAME="DISABLEINDEX"/>			
				<TEMPLATE NAME="ENABLEINDEX"/>			
				<TEMPLATE NAME="STATEMENTSEPERATOR">;</TEMPLATE>			
				<TEMPLATE NAME="INSERT">insert into ${DESTINATIONTABLENAME}(${DESTINATIONCOLUMNS}${DEDUPECOLUMN}) VALUES(${VALUES})</TEMPLATE>
				<TEMPLATE NAME="CREATETABLE">create table ${NEWTABLENAME} as select ${SOURCECOLUMNS}${DEDUPECOLUMN} from ${SOURCETABLENAME} WHERE 1=0</TEMPLATE>
				<TEMPLATE NAME="SELECTCOLUMNDATATYPE">select ${COLUMNS} from ${TABLENAME} WHERE 1=0</TEMPLATE>
				<TEMPLATE NAME="DROPTABLE">drop table ${TABLENAME}</TEMPLATE>
				<TEMPLATE NAME="CREATEUNIQUEINDEX">create unique index ${TABLENAME}${INDEXNAME} on ${TABLENAME}(${COLUMNS})</TEMPLATE>
				<TEMPLATE NAME="CREATEINDEX">create index ${TABLENAME}${INDEXNAME} on ${TABLENAME}(${COLUMNS})</TEMPLATE>
				<TEMPLATE NAME="MAXSURROGATEKEY">select max(${SKEY}) from ${TABLENAME}</TEMPLATE>
				<TEMPLATE NAME="ANALYZETABLE">analyze table ${TABLENAME}</TEMPLATE>
				<TEMPLATE NAME="MERGETONEWTABLE">CREATE TABLE ${NEWTABLENAME} AS SELECT ${KEYCOLUMNS} ${OTHERCOLUMNS} FROM ${STGTABLE} as a full outer join ${ORIGTABLE} as b on (${JOIN})</TEMPLATE>
				<TEMPLATE NAME="ACTIVEDATASET">
CREATE TABLE ${DELTATABLENAME} AS 
select COALESCE(${SKEY},${SERIALCOLUMN}) AS MATCH_SK,
       ${SOURCETABLENAME}.*
 from ${SOURCETABLENAME} 
      LEFT OUTER JOIN  ${DESTINATIONTABLENAME} 
      ON(${JOIN}
         AND ${DESTINATIONTABLENAME}.${EXPDT} = ${EXPDTFUNC})
where (${UPDATETRIGGERS})</TEMPLATE>				
				<TEMPLATE NAME="UPDATEPOSTBATCH">update ${DESTINATIONTABLENAME} inner JOIN ${DELTATABLENAME} on (${DELTATABLENAME}.MATCH_SK = ${DESTINATIONTABLENAME}.${SKEY}) set ${EXPDT} = ${DELTATABLENAME}.${EFFDT}</TEMPLATE>
				<TEMPLATE NAME="INSERTPOSTBATCH">insert into ${DESTINATIONTABLENAME}(${SKEY},${INSERTDESTINATIONCOLUMNS},${EXPDT}) select ${SERIALCOLUMN},${INSERTCOLUMNS},${EXPDTFUNC} from ${DELTATABLENAME} as ${SOURCETABLENAME}</TEMPLATE>
				<TEMPLATE NAME="QUERYFORKEYS">select ${NKEY},${SKEY},${EFFDT},${EXPDT} from ${DESTINATIONTABLENAME} order by ${NKEY},${EXPDT},${EFFDT}</TEMPLATE>         
			</GROUP>
			<GROUP NAME="POSTGRESQL">
				<TEMPLATE NAME="UPDATECOLUMNFORMAT">${TARGETCOLUMN}=${SOURCECOLUMN}</TEMPLATE>
				<TEMPLATE NAME="UPDATEPOSTBATCH">update ${DESTINATIONTABLENAME} set ${EXPDT} = ${DELTATABLENAME}.${EFFDT} from ${DELTATABLENAME} where (${DELTATABLENAME}.MATCH_SK = ${DESTINATIONTABLENAME}.${SKEY})</TEMPLATE>
				<TEMPLATE NAME="ANALYZETABLE">analyze ${TABLENAME}</TEMPLATE>
			</GROUP>
			
		</TEMPLATES>
	</STEP>
	
	<STEP CLASS="com.kni.etl.ketl.writer.NetezzaELTWriter">
		<PARAMETERS>
			<PARAMETER NAME="USER" REQUIRED="TRUE" />
			<PARAMETER NAME="PASSWORD" REQUIRED="TRUE" />
			<PARAMETER NAME="URL" REQUIRED="TRUE" />
			<PARAMETER NAME="DRIVER" REQUIRED="TRUE" />
			<PARAMETER NAME="PRESQL" REQUIRED="FALSE" />
		</PARAMETERS>
		<ATTRIBUTES>
			<ATTRIBUTE NAME="MULTIBYTE" TYPE="BOOLEAN"/>
			<ATTRIBUTE NAME="TYPE">
				<VALUE>BULK</VALUE>
				<VALUE>ROLL</VALUE>
				<VALUE>UPSERT</VALUE>
			</ATTRIBUTE>
		</ATTRIBUTES>
		<PORTS>
			<PRESQL>
				<ATTRIBUTES>
					<ATTRIBUTE NAME="CRITICAL" TYPE="BOOLEAN" />
					<ATTRIBUTE NAME="PERPARTITION" TYPE="BOOLEAN" />
				</ATTRIBUTES>
			</PRESQL>
			<IN>
				<ATTRIBUTES>
					<ATTRIBUTE NAME="SK" TYPE="BOOLEAN" />
					<ATTRIBUTE NAME="PK" TYPE="BOOLEAN" />
					<ATTRIBUTE NAME="COMPARE" TYPE="BOOLEAN" />
					<ATTRIBUTE NAME="INSERT" TYPE="BOOLEAN" />
					<ATTRIBUTE NAME="UPDATE" TYPE="BOOLEAN" />
				</ATTRIBUTES>
			</IN>
			<POSTSQL>
				<ATTRIBUTES>
					<ATTRIBUTE NAME="CRITICAL" TYPE="BOOLEAN" />
					<ATTRIBUTE NAME="PERPARTITION" TYPE="BOOLEAN" />
				</ATTRIBUTES>
			</POSTSQL>
		</PORTS>		
		<TEMPLATES>
			<GROUP NAME="DEFAULT">
				<TEMPLATE NAME="STATEMENTSEPERATOR"/>			
				<TEMPLATE NAME="CREATETABLE">create table ${NEWTABLENAME} as select ${SOURCECOLUMNS} from ${SOURCETABLENAME} WHERE 1=0</TEMPLATE>
				<TEMPLATE NAME="SELECTCOLUMNDATATYPE">select ${COLUMNS} from ${TABLENAME} WHERE 1=0</TEMPLATE>
				<TEMPLATE NAME="UPDATEPOSTBATCH">update ${DESTINATIONTABLENAME} inner JOIN ${SOURCETABLENAME} on (($JOIN) AND (${UPDATETRIGGERS})) set ${UPDATECOLUMNS}</TEMPLATE>
				<TEMPLATE NAME="INSERTPOSTBATCH">insert into ${DESTINATIONTABLENAME}(${DESTINATIONCOLUMNS}) select ${SOURCECOLUMNS} from ${SOURCETABLENAME} where not exists (select 1 from ${DESTINATIONTABLENAME} where ${JOIN})</TEMPLATE>
				<TEMPLATE NAME="DROPTABLE">drop table ${TABLENAME}</TEMPLATE>
				<TEMPLATE NAME="TRUNCATETABLE">truncate table ${TABLENAME}</TEMPLATE>
				<TEMPLATE NAME="RENAMETABLE">alter table ${TABLENAME} rename to ${NEWTABLENAME}</TEMPLATE>
				<TEMPLATE NAME="CREATEUNIQUEINDEX">create unique index ${INDEXNAME} on ${TABLENAME}(${COLUMNS})</TEMPLATE>
				<TEMPLATE NAME="CREATEINDEX">create index ${INDEXNAME} on ${TABLENAME}(${COLUMNS})</TEMPLATE>
				<TEMPLATE NAME="ADDPRIMARYKEY">alter table ${TABLENAME} add primary key(${COLUMNS})</TEMPLATE>
				<TEMPLATE NAME="COALESCE">coalesce(${ARG1},${ARG2})</TEMPLATE>
				<TEMPLATE NAME="ANALYZETABLE">analyze table ${TABLENAME}</TEMPLATE>
				<TEMPLATE NAME="MKPIPE">mkfifo ${FILENAME}</TEMPLATE>
				<TEMPLATE NAME="NZLOAD">nzload -host ${HOSTNAME} -u ${USER} -pw ${PASSWORD} -db ${DATABASE} -cf ${CONTROLFILE} -encoding ${ENCODING} -dateStyle ${DATESTYLE} -timeStyle ${TIMESTYLE} -boolStyle ${BOOLSTYLE} -bf ${BADFILE} -lf ${LOGFILE} </TEMPLATE>
				<TEMPLATE NAME="MERGETONEWTABLE">CREATE TABLE ${NEWTABLENAME} AS SELECT ${KEYCOLUMNS} ${OTHERCOLUMNS} FROM ${STGTABLE} as a full outer join ${ORIGTABLE} as b on (${JOIN})</TEMPLATE>
			</GROUP>
		</TEMPLATES>
	</STEP>
	
	<STEP CLASS="com.kni.etl.ketl.writer.PGBulkWriter">
		<PARAMETERS>
			<PARAMETER NAME="USER" REQUIRED="TRUE" />
			<PARAMETER NAME="PASSWORD" REQUIRED="TRUE" />
			<PARAMETER NAME="URL" REQUIRED="TRUE" />
			<PARAMETER NAME="DRIVER" REQUIRED="TRUE" />
			<PARAMETER NAME="PRESQL" REQUIRED="FALSE" />
		</PARAMETERS>
		<ATTRIBUTES>
			<ATTRIBUTE NAME="TYPE">
				<VALUE>BULK</VALUE>
				<VALUE>ROLL</VALUE>
				<VALUE>UPSERT</VALUE>
			</ATTRIBUTE>
		</ATTRIBUTES>
		<PORTS>
			<PRESQL>
				<ATTRIBUTES>
					<ATTRIBUTE NAME="CRITICAL" TYPE="BOOLEAN" />
					<ATTRIBUTE NAME="PERPARTITION" TYPE="BOOLEAN" />
				</ATTRIBUTES>
			</PRESQL>
			<IN>
				<ATTRIBUTES>
					<ATTRIBUTE NAME="SK" TYPE="BOOLEAN" />
					<ATTRIBUTE NAME="PK" TYPE="BOOLEAN" />
					<ATTRIBUTE NAME="COMPARE" TYPE="BOOLEAN" />
					<ATTRIBUTE NAME="INSERT" TYPE="BOOLEAN" />
					<ATTRIBUTE NAME="UPDATE" TYPE="BOOLEAN" />
				</ATTRIBUTES>
			</IN>
			<POSTSQL>
				<ATTRIBUTES>
					<ATTRIBUTE NAME="CRITICAL" TYPE="BOOLEAN" />
					<ATTRIBUTE NAME="PERPARTITION" TYPE="BOOLEAN" />
				</ATTRIBUTES>
			</POSTSQL>
		</PORTS>		
		<TEMPLATES>
			<GROUP NAME="DEFAULT">
				<TEMPLATE NAME="UPDATECOLUMNFORMAT">${TARGETCOLUMN}=${SOURCECOLUMN}</TEMPLATE>						
				<TEMPLATE NAME="UPDATEPOSTBATCH">update ${DESTINATIONTABLENAME} set ${UPDATECOLUMNS} from ${SOURCETABLENAME} where (${JOIN}) AND exists (Select 1 from ${SOURCETABLENAME} where (${JOIN}) AND (${UPDATETRIGGERS}))</TEMPLATE>
				<TEMPLATE NAME="ANALYZETABLE">analyze ${TABLENAME}</TEMPLATE>
				<TEMPLATE NAME="ADDHASHCOLUMN">alter table ${TABLENAME} add ${COLUMNNAME} int</TEMPLATE>
				<TEMPLATE NAME="DISABLEINDEX"/>			
				<TEMPLATE NAME="ENABLEINDEX"/>			
				<TEMPLATE NAME="ADDHASHCOLUMN">alter table ${TABLENAME} add ${COLUMNNAME} PLS_INTEGER</TEMPLATE>			
				<TEMPLATE NAME="STATEMENTSEPERATOR">;</TEMPLATE>			
				<TEMPLATE NAME="INSERT">insert into ${DESTINATIONTABLENAME}(${DESTINATIONCOLUMNS}${DEDUPECOLUMN}) VALUES(${VALUES})</TEMPLATE>
				<TEMPLATE NAME="CREATETABLE">create table ${NEWTABLENAME} as select ${SOURCECOLUMNS}${DEDUPECOLUMN} from ${SOURCETABLENAME} WHERE 1=0</TEMPLATE>
				<TEMPLATE NAME="SELECTCOLUMNDATATYPE">select ${COLUMNS} from ${TABLENAME} WHERE 1=0</TEMPLATE>
				<TEMPLATE NAME="INSERTPOSTBATCH">insert into ${DESTINATIONTABLENAME}(${INSERTDESTINATIONCOLUMNS}) select ${INSERTCOLUMNS} from ${SOURCETABLENAME} where not exists (select 1 from ${DESTINATIONTABLENAME} where ${JOIN})</TEMPLATE>
				<TEMPLATE NAME="DELETEDUPLICATES">delete from ${SOURCETABLENAME} where (${KEYS},${DEDUPECOLUMN}) not in (SELECT ${KEYS},MAX(${DEDUPECOLUMN}) FROM ${SOURCETABLENAME} GROUP BY ${KEYS})</TEMPLATE>
				<TEMPLATE NAME="DROPTABLE">drop table ${TABLENAME}</TEMPLATE>
				<TEMPLATE NAME="TRUNCATETABLE">truncate table ${TABLENAME}</TEMPLATE>
				<TEMPLATE NAME="RENAMETABLE">alter table ${TABLENAME} rename to ${NEWTABLENAME}</TEMPLATE>
				<TEMPLATE NAME="CREATEUNIQUEINDEX">create unique index ${TABLENAME}${INDEXNAME} on ${TABLENAME}(${COLUMNS})</TEMPLATE>
				<TEMPLATE NAME="CREATEINDEX">create index ${TABLENAME}${INDEXNAME} on ${TABLENAME}(${COLUMNS})</TEMPLATE>
				<TEMPLATE NAME="ADDPRIMARYKEY">alter table ${TABLENAME} add primary key(${COLUMNS})</TEMPLATE>
				<TEMPLATE NAME="COALESCE">coalesce(${ARG1},${ARG2})</TEMPLATE>
				<TEMPLATE NAME="MERGETONEWTABLE">CREATE TABLE ${NEWTABLENAME} AS SELECT ${KEYCOLUMNS} ${OTHERCOLUMNS} FROM ${STGTABLE} as a full outer join ${ORIGTABLE} as b on (${JOIN})</TEMPLATE>
			</GROUP>
		</TEMPLATES>
	</STEP>
	
	<STEP CLASS="com.kni.etl.ketl.reader.HelloWorld" IMAGE="icons/HelloWorld.png" SMALLIMAGE="icons/HelloWorldSmall.png">
		<PARAMETERS>
			<PARAMETER NAME="PHRASE" REQUIRED="FALSE" />
		</PARAMETERS>
		<ATTRIBUTES>
			<ATTRIBUTE NAME="VALUES" TYPE="INTEGER" />
		</ATTRIBUTES>
		<PORTS>
			<OUT>
				<ATTRIBUTES/>
			</OUT>
		</PORTS>
	</STEP>
	
	<STEP CLASS="com.kni.etl.ketl.splitter.Sessionizer">
		<PARAMETERS/>
		<ATTRIBUTES>
			<ATTRIBUTE NAME="PEAKSESSIONSANHOUR" TYPE="INTEGER" />
			<ATTRIBUTE NAME="RESTART" TYPE="INTEGER" />
			<ATTRIBUTE NAME="STOREOPENSESSIONS" TYPE="INTEGER" />
			<ATTRIBUTE NAME="TIMEOUT" TYPE="INTEGER" />
			<ATTRIBUTE NAME="WEBSERVERTYPE" TYPE="INTEGER" />		
		</ATTRIBUTES>
		<TEMPLATES/>
		<PORTS>
			<IN>
				<ATTRIBUTES>
					<ATTRIBUTE NAME="OBJECTTYPE" AME="TYPE">
						<VALUE TYPE="STRING">HIT_DATE_TIME</VALUE>
						<VALUE TYPE="STRING">IP_ADDRESS</VALUE>
						<VALUE TYPE="STRING">SERVER_NAME</VALUE>
						<VALUE TYPE="STRING">REMOTE_USER</VALUE>
						<VALUE TYPE="STRING">HTML_ERROR_CODE</VALUE>
						<VALUE TYPE="STRING">USER_AGENT</VALUE>
					</ATTRIBUTE>
				</ATTRIBUTES>
			</IN>
			<OUT>
				<ATTRIBUTES>
					<ATTRIBUTE NAME="OBJECTTYPE" AME="TYPE">
						<VALUE TYPE="STRING">FIRST_CLICK_SESSION_IDENTIFIER</VALUE>
						<VALUE TYPE="STRING">PERSISTANT_IDENTIFIER</VALUE>
						<VALUE TYPE="STRING">MAIN_SESSION_IDENTIFIER</VALUE>
						<VALUE TYPE="STRING">IP_ADDRESS</VALUE>
						<VALUE TYPE="STRING">REFERRER</VALUE>
						<VALUE TYPE="STRING">FIRST_SESSION_ACTIVITY</VALUE>
						<VALUE TYPE="STRING">LAST_SESSION_ACTIVITY</VALUE>
						<VALUE TYPE="STRING">BROWSER</VALUE>
						<VALUE TYPE="STRING">REPEAT_VISITOR</VALUE>
						<VALUE TYPE="STRING">HITS</VALUE>
						<VALUE TYPE="STRING">PAGEVIEWS</VALUE>
						<VALUE TYPE="STRING">START_PERSISTANT_IDENTIFIER</VALUE>
					</ATTRIBUTE>
				</ATTRIBUTES>
			</OUT>
			<CHANNELS>
				<CHANNEL>Hit</CHANNEL>
				<CHANNEL>Session</CHANNEL>
			</CHANNELS>
			<IDENTIFIERS><IDENTIFIER_SET><IDENTIFIER/></IDENTIFIER_SET></IDENTIFIERS>
			<PAGE_DEFINITIONS><PAGE_DEFINITION/></PAGE_DEFINITIONS>
		</PORTS>
	</STEP>
	
</KETL>
